apiVersion: networking.istio.io/v1alpha3
kind: DestinationRule
metadata:
  name: productpage
  namespace: {{ bookinfo.namespace }}
spec:
  host: productpage
  subsets:
  - name: v1
    labels:
      version: v1